* {
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 224, 224);
}

h1 {
    text-align: center;
}

.table-headers {
    border: 1px solid black;
}



/* img style */

.logo-img {
    margin-top: .3em;
    width: 25px;
    object-fit: contain;
}